*{
	margin: 0;
	padding: 0;
}
.contact{
	width: 700px;
	height: auto;
	background-color: #f6f6f6;
	margin: 40px auto;
	padding: 10px;
}
.contact *:focus{
	outline: none;/*取消蓝色边框*/
}
.contact ul{
	width: 700px;
	list-style: none;
}
.contact ul li{
	border-bottom: 1px solid #DFDFDF;
	padding: 12px;
}
.contact ul li label{
	width: 120px;
	display: inline-block;
	float: left;
}
.contact ul li input[type=text]{
	width: 220px;
	height: 20px;
	border: 1px solid #AAA;
	padding:  3px 8px;
	border-radius: 5px;
	transition: padding 0.25s;/*过渡动画拉长70px*/

	
}
.contact ul li input:focus{
	border-color: #c00;
	padding-right: 70px;
}