*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
a{
    color: #f8f8f8;
    text-decoration: none;
}
.main{
    width: 100%;
    height: 1000px;
    background-color: #333;
}
.nav{
    width:50%;
    height: 70px;
    margin:0 auto;
}
.logo{
    line-height: 70px;
    font-size: 28px;
}
.nav_inner{
    float: right;
}
.nav_inner ul{
    list-style: none;
}
.nav_inner ul li{
    font-size: 20px;
    float:left;
    padding:0 15px;
    cursor: pointer;
}
.nav_inner ul li:hover{
    background-color: #666666;
}
.mid{
    width: 50%;
    height: 800px;
    background-color: #f8f8f8;
    margin:0 auto;
}
.mid form{
    width: 80%;
    height:600px;
    margin: 0 auto;
    position: relative;
    top:12.5%;
    border:1px solid #0f0f0f;
}
.fromgroup{
    width: 75%;
    height:75px;
    padding-left: 25%;
    line-height: 75px;
}
.fromgroup *:focus{
    outline: none;
}
.fromgroup:hover{
    background-color:  #e6e9e8;
    transition: 0.5s;
}
.fromgroup label{
    display: inline-block;
    width:100px;
    float: left;
}
.fromgroup input{
    width:220px;
    height: 20px;
    border:1px solid #AAA;
    border-radius: 5px;
    transition: padding 0.25s;
}
.fromgroup input:focus{
    border-color: #c00;
    padding-right: 70px;
}
.foot{
    width: 100%;
    height: 50px;
}
